html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* ここまでがリセットCSS */

/* ここからheader */

header{
    width: 100%;
}

.logo{
    width: 200px;
    height: 65px;
    margin-left: 3.25%;
    margin-top: 17px;
}

.time{
    position: absolute;
    right: 4%;
    margin-top: 16.8px;
    top: 0px;
}

.time-top{
    font-size: 18px
}

.time-bottom{
    padding-top: 8px;
    font-size: 35px;
}

.header-bottom{
    margin-top: 5px;
    width: 100%;
    height: 70px;
    background-color: #333333;
    display: flex;
    align-items: center;
}

.header-menu{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 96%;
    margin: 0 auto;
}

.header-menu li{
    width: 15%;
    height: 50px;
}

.header-link{
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #ec3223;
    color: #ffffff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-link:hover{
    transform: scale(1.05);
}

/* ここからレスポンシブ */

.tel{
    display: none;
}

#hamburger{
    display: none;
}

.header-border-res{
    display: none;
}

#hamburger-menu{
    display: none;
}

/* ここまでがheader */

/* ここからconts */

.conts-header{
    margin-top: 50px;
    width: 100%;
    height: 15vw;
    background: url(../course/headline_pc.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conts-header-1{
    width: 30%;
    height: 9vw;
    background-color: rgba(255, 255, 255, .8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.conts-header-1 h1{
    font-size: 3vw;
    font-weight: 100;
}

.conts-center{
    width: 100%;
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conts-center p{
    font-size: 2vw;
}

.conts-course{
    width: 100%;
    height: 10vw;
    background-color: #333333;
}

.conts-course a{
    display: flex;
    width: 48%;
    height: 3.5vw;
    font-size: 2.3vw;
    background-color: #ec3223;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
}

.conts-course-in{
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    height: 9vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
}

.experience{
    margin-top: 3vw;
    width: 100%;
    height: 47vw;
    background: url(../course/background_pc.jpg);
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 5vw;
}

.experience a{
    width: 40%;
    height: 4vw;
    background-color: #ED1E79;
    color: #ffffff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40vw;
    border-radius: 20px;
    font-size: 1.6vw;
}

.weight-bolder{
    font-weight: bolder;
}

.course-title{
    width: 100%;
    height: 6vw;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vw;
}

.course-title h2{
    font-size: 3.5vw;
    color: #ffffff;
}

.course-title-bottom{
    width: 100%;
    height: 1vw;
    background-color: #ec3223;
}

.course-main{
    width: 80%;
    margin: 0 auto;
}

.course-main-1{
    color: #999999;
    font-family: "貂明朝";
    font-size: 4vw;
    margin: 3vw 0;
}

.course-main h3{
    color: #ec3223;
    font-size: 1.6vw;
}

.course-main-2{
    font-size: 1.3vw;
    line-height: 3.5vw;
}

.course-main h4{
    display: flex;
    width: 45%;
    background-color: #333333;
    height: 2.7vw;
    font-size: 1.7vw;
    color: #ffffff;
    align-items: center;
    padding-left: 3%;
    border-radius: 20px;
    margin-top: 3vw;
}

.course-main-3.space{
    margin-top: 4vw;
}

.course-main-3{
    margin-top: 1vw;
    line-height: 1.9vw;
    font-size: 1.3vw;
}

.course-main h5{
    font-size: 1.5vw;
    font-weight: lighter;
    padding-top: 4vw;
}

.course-guide{
    display: flex;
    justify-content: space-around;
}

.course-guide a{
    margin-top: 4vw;
    height: 8vw;
    width: 27%;
    background-color: #29ABE2;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border-radius: 10px;
    font-size: 1.5vw;
}

.course-guide-bottom{
    width: 100%;
    text-align: center;
}

.course-guide-bottom p{
    margin: 5vw 0;
    font-size: 1.7vw;
}

.course-guide-bottom a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 3vw auto;
    text-decoration: none;
    background-color: #29ABE2;
    height: 2.8vw;
    font-size: 1.5vw;
    color: #ffffff;
    border-radius: 10px;
}

.course-geneki{
    display: flex;
    width: 50%;
    background-color: #333333;
    height: 2.7vw;
    font-size: 1.7vw;
    color: #ffffff;
    align-items: center;
    padding-left: 3%;
    border-radius: 20px;
    margin-top: 3vw;
    text-decoration: none;
}

.course-school{
    display: block;
    margin: 3vw auto;

}

.course-tosa-top{
    margin: 4vw 0;
    font-size: 1.6vw;
}

.fontcolor-pink{
    color: #ED1E79;
}

/* 附属中学生コースの内容 */

.course-title.special h2{
    width: 42%;
    display: flex;
    justify-content: space-around;
}

.course-huzoku-sp{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 3vw;
    background-color: #ec3223;
    font-size: 1.6vw;
    border-radius: 15px;
}

.course-huzoku-1{
    margin: 3vw 0;
    line-height: 2.0vw;
    font-size: 1.6vw;
}

.huzoku-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.huzoku-left,
.huzoku-right{
    width: 45%
}

.huzoku-left h3,
.huzoku-right h3{
    width: 100%;
    height: 2.4vw;
    font-size: 1.8vw;
    display: flex;
    padding-left: 5%;
    align-items: center;
    color: #ffffff;
    background-color: #333333;
    border-radius: 15px;
}

.huzoku-left p{
    margin: 3vw 0;
    font-size: 1.5vw;
    line-height: 2vw;
}

.huzoku-right-1,
.huzoku-right-2,
.huzoku-right-3{
    display: flex;
    height: 3vw;
    margin-top: 2vw;
}

.huzoku-right-1 p,
.huzoku-right-2 p,
.huzoku-right-3 p{
    font-size: 1.3vw;
    line-height: 2vw;
}

.huzoku-right-1 p:first-of-type,
.huzoku-right-2 p:first-of-type,
.huzoku-right-3 p:first-of-type{
    margin-right: 1vw;
}

.huzoku-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.2vw;
    width: 5vw;
    height: 2vw;
    border: 1px solid #000;
    border-radius: 10px;
}

.huzoku-right-2-bottom{
    font-size: 1.1vw;
}

.time-schedule h3{
    display: flex;
    align-items: center;
    padding-left: 3%;
    color: #ffffff;
    width: 45%;
    background-color: #333333;
    height: 2.4vw;
    font-size: 1.8vw;
    border-radius: 20px;
}

.time-schedule-1{
    font-size: 1.8vw;
    margin-top: 5vw;
    margin-bottom: 1.5vw;
}

table,
tr,
td{
    border: 1px solid #000;
}

td:first-of-type{
    width: 13vw;
}

td{
    width: 7vw;
    height: 2.2vw;
    font-size: 1.4vw;
    text-align: center;
    padding-top: 1vw;
}

.month-money h3,
.greeting h3{
    display: flex;
    align-items: center;
    padding-left: 3%;
    color: #ffffff;
    width: 45%;
    background-color: #333333;
    height: 2.4vw;
    font-size: 1.8vw;
    border-radius: 20px;
    margin-top: 3vw;
}

.month-money-in p{
    margin-top: 5vw;
    font-size: 1.5vw;
}

.month-money-in p span{
    font-size: 2.5vw;
    padding-left: 1vw;
    color: #ED1E79;
}

.month-money-in{
    display: flex;
    justify-content: space-around;
}

.money-border{
    border-top: 2px solid #ED1E79;
}

.money-border-bottom{
    font-size: 1.3vw;
    line-height: 1.7vw;
    margin-left: 10%;
}

.greeting-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.okabayashi{
    width: 30%;
    margin-top: 6vw;
    margin-bottom: 3vw;
}

.okabayashi-message{
    width: 65%;
}

.okabayashi-message p{
    margin-top: 3vw;
    font-size: 1.3vw;
    line-height: 1.6vw;
}

.last{
    width: 100%;
    display: flex;
    justify-content: center;
}

.last a{
    width: 60%;
    height: 4vw;
    font-size: 1.6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    background-color: #29ABE2;
    border-radius: 15px;
    margin: 5vw 0;
}

/* ここからfooter */

footer{
    width: 100%;
    background-color: #e6e6e6;
    text-align: center;
}

footer ul{
    padding-top: 60px;
    display: flex;
    margin-left: 15%;
    width: 70%;
    justify-content: space-between;
    list-style: none;
}

footer ul li a{
    text-decoration: none;
    color: #4d4d4d;
}

footer hr{
    width: 80%;
    padding-top: 20px;
    margin-left: 10%;
    border-top: 4px solid #ec3223;
}

.footer-img-1{
    margin-top: 20px;
    width: 12%;
}

footer p{
    padding-top: 14px;
    line-height: 1.7vw;
    font-size: 1.3vw;
}

.footer-last{
    margin-top: 15px;
    height: 40px;
    background-color: #4d4d4d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-last p{
    color: #ffffff;
    font-size: 1.2vw;
}

.footer-bottom:hover{
    transform: scale(1.05);
}


/* 全体に対して */
a:hover{
    transform: scale(1.02);
}

@media screen and (max-width: 768px){
    /* ここからheader部分 */
    .logo{
    width: 130px;
    height: 45px;
    }

    .time{
        display: none;
    }

    .tel,
    .tel img{
        display: inline-block;
        position: absolute;
        height: 55px;
        top: 5px;
        right: 40px;
    }


    .header-bottom{
        display: none;
    }

    #hamburger{
        display: block;
        width: 55px;
        height: 55px;
        background-color: #333333;
        position: absolute;
        top: 10px;
        right: 13px;
    }

    #hamburger span{
        display: block;
        width: 40px;
        height: 2px;
        background-color: #ffffff;
        position: absolute;
        left: 7.5px;
    }

    #hamburger span:first-of-type{
        transition: .5s;
        top: 18px;
    }

    #hamburger span:nth-of-type(2){
        transition: .5s;
        top: 27.5px;
    }

    #hamburger span:nth-of-type(3){
        transition: .5s;
        top: 37px;
    }

    .header-border-res{
        display: block;
        width: 100%;
        margin-top: 18px;
        height: 7px;
        background-color: #333333;
    }

    #hamburger-menu{
        display: block;
        width: 100%;
        height: auto;
        background-color: #cccccc;
        z-index: 100;
        position: absolute;
        transition: 0.3s;
        transform: translateX(-100%);
    }

    #hamburger-menu.open{
        transform: translatex(0%);
    }

    #hamburger.active span:first-of-type{
        transition: .5s;
        top: 27.5px;
        transform: rotate(-45deg);
    }

    #hamburger.active span:nth-of-type(2){
        transition: .5s;
        display: none;
    }

    #hamburger.active span:last-of-type{
        transition: .5s;
        top: 27.5px;
        transform: rotate(45deg);
    }

    .hamburger-menu-ul{
        list-style: none;
    }

    .header-link{
        display: flex;
        align-items: center;
        height: 50px;
        background-color: #cccccc;
    }

     /* ここからfooter */

     footer{
        width: 100%;
        background-color: #e6e6e6;
        text-align: center;
        margin-top: 10px;
    }

    footer ul{
        padding-top: 30px;
        display: block;
        margin-left: 15%;
        width: 70%;
        list-style: none;
    }

    footer ul li{
        margin-top: 15px;
    }

    .footer-img-1{
        margin-top: 10px;
        width: 30%;
    }

    footer p{
        padding-top: 14px;
        line-height: 19px;
        font-size: 14px;
    }

    .footer-last{
        margin-top: 15px;
        height: 40px;
        background-color: #4d4d4d;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer-last p{
        color: #ffffff;
        font-size: 11px;
    }
}