html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* ここまでがリセットCSS */

/* ここからheader */

header{
    width: 100%;
}

.logo{
    width: 200px;
    height: 65px;
    margin-left: 3.25%;
    margin-top: 17px;
}

.time{
    position: absolute;
    right: 4%;
    margin-top: 16.8px;
    top: 0px;
}

.time-top{
    font-size: 18px
}

.time-bottom{
    padding-top: 8px;
    font-size: 35px;
}

.header-bottom{
    margin-top: 5px;
    width: 100%;
    height: 70px;
    background-color: #333333;
    display: flex;
    align-items: center;
}

.header-menu{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 96%;
    margin: 0 auto;
}

.header-menu li{
    width: 15%;
    height: 50px;
}

.header-link{
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #ec3223;
    color: #ffffff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-link:hover{
    transform: scale(1.05);
}

/* ここからレスポンシブ */

.tel{
    display: none;
}

#hamburger{
    display: none;
}

.header-border-res{
    display: none;
}

#hamburger-menu{
    display: none;
}

/* ここまでがheader */

/* ここからcarousel */
.swiper-button-prev,
.swiper-button-next{
    display: none;
}

.swiper-slide{
    margin-top: 10px;
    position: relative;
    left: 2.7%;
}

.swiper-slide img{
    width: 94.6%;
}

/* ここまでがcarousel */

/* ここからnews */
.news{
    display: flex;
    width: 100%;
    background-color: #333333;
    color: #ffffff;
    text-decoration: none;
    height: 70px;
    align-items: center;
    justify-content: center;
}

/* ここまでがnews */

/* ここからconts */
.conts{
    width: 100%;
    position: relative;
}

.new-conts{
    margin-left: 8%;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 50vw;
}

.new-conts-info{
    font-size: 2vw;
    transform: translateY(10px);
}

.new-conts-border-1{
    border-top: 3px solid #ec3223;
}

.new-conts-info-1,
.new-conts-info-2{
    width: 100%;
    height: 8vw;
}

.new-conts-info-1>h3{
    font-size: 1.5vw;
    padding-top: 5%;
}

.new-conts-info-2>h3{
    font-size: 1.5vw;
    padding-top: 6%;
}

.new-conts-info-1>p{
    margin-top: .5vw;
    line-height: 2vw;
    font-size: 1.2vw;
}

.new-conts-info-2>p{
    margin-top: 2vw;
    font-size: 1.2vw;
}

.new-conts-border-2,
.new-conts-border-3{
    border-top: 1px dashed #bbb;
}

.new-conts-img{
    position: absolute;
    top: 20%;
    right: 10%;
    width: 25%;
}

.conts-doc{
    width: 100%;
}

.conts-doc-res{
    display: none;
}

/* ここまでconts */

/* ここからthought */
.thought{
    width: 100%;
    height: 45vw;
    background: url(../top/parts/background1.jpg);
    background-size: cover;
    padding-left: 8%;
    box-sizing: border-box;
}

h1{
    font-family: "ten-mincho", serif;
    font-feature-settings: "ss02";
    font-size: 2.4vw;
    padding-top: 7%;
}

h1>span{
    color: #ec3223;
}

.thought-content{
    width: 84%;
    font-size: 1.4vw;
    margin-top: 4vw;
    line-height: 1.8vw;
}

/* ここまでthought */

/* ここからguide */
.guide{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.guide a{
    margin-top: 80px;
    margin-bottom: 80px;
    width: 37%;
}

.guide img{
    width: 100%;
}

.lecture{
    margin-left: 8%;
}

.course{
    margin-right: 8%;
}

/* ここまでguide */

/* ここからaccess */
.access{
    text-align: center;
}

.access p{
    font-size: 2.3vw;
}

.access hr{
    margin-left: 8%;
    width: 84%;
    border-top: 4px solid #ec3223;
}

/* ここまでがaccess */

/* ここからbottom */
.bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.bottom a{
    margin-top: 70px;
    margin-bottom: 70px;
    width: 27%;
}

.bottom img{
    width: 100%;
}

.bottom-1{
    margin-left: 6.3%;
}

.bottom-3{
    margin-right: 6.3%;
}

/* ここまでがbottom */

/* ここからfooter */

footer{
    width: 100%;
    background-color: #e6e6e6;
    text-align: center;
}

footer ul{
    padding-top: 60px;
    display: flex;
    margin-left: 15%;
    width: 70%;
    justify-content: space-between;
    list-style: none;
}

footer ul li a{
    text-decoration: none;
    color: #4d4d4d;
}

footer hr{
    width: 80%;
    padding-top: 20px;
    margin-left: 10%;
    border-top: 4px solid #ec3223;
}

.footer-img-1{
    margin-top: 20px;
    width: 12%;
}

footer p{
    padding-top: 14px;
    line-height: 1.7vw;
    font-size: 1.3vw;
}

.footer-last{
    margin-top: 15px;
    height: 40px;
    background-color: #4d4d4d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-last p{
    color: #ffffff;
    font-size: 1.2vw;
}

.footer-bottom:hover{
    transform: scale(1.05);
}


/* 全体に対して */
a:hover{
    transform: scale(1.02);
}


/* ここからfadein */

.fadein {
    opacity : 0;
    transform : translate(0, 40px);
    transition : all 1s;
  }

  .fadein.active{
    opacity : 1;
    transform : translate(0, 0);
  }

  /* ここからレスポンシブ */

@media screen and (max-width: 768px){
    /* ここからheader部分 */
    .logo{
    width: 130px;
    height: 45px;
    }

    .time{
        display: none;
    }

    .tel,
    .tel img{
        display: inline-block;
        position: absolute;
        height: 55px;
        top: 5px;
        right: 40px;
    }


    .header-bottom{
        display: none;
    }

    #hamburger{
        display: block;
        width: 55px;
        height: 55px;
        background-color: #333333;
        position: absolute;
        top: 10px;
        right: 13px;
    }

    #hamburger span{
        display: block;
        width: 40px;
        height: 2px;
        background-color: #ffffff;
        position: absolute;
        left: 7.5px;
    }

    #hamburger span:first-of-type{
        transition: .5s;
        top: 18px;
    }

    #hamburger span:nth-of-type(2){
        transition: .5s;
        top: 27.5px;
    }

    #hamburger span:nth-of-type(3){
        transition: .5s;
        top: 37px;
    }

    .header-border-res{
        display: block;
        width: 100%;
        margin-top: 18px;
        height: 7px;
        background-color: #333333;
    }

    #hamburger-menu{
        display: block;
        width: 100%;
        height: auto;
        background-color: #cccccc;
        z-index: 100;
        position: absolute;
        transition: 0.3s;
        transform: translateX(-100%);
    }

    #hamburger-menu.open{
        transform: translatex(0%);
    }

    #hamburger.active span:first-of-type{
        transition: .5s;
        top: 27.5px;
        transform: rotate(-45deg);
    }

    #hamburger.active span:nth-of-type(2){
        transition: .5s;
        display: none;
    }

    #hamburger.active span:last-of-type{
        transition: .5s;
        top: 27.5px;
        transform: rotate(45deg);
    }

    .hamburger-menu-ul{
        list-style: none;
    }

    .header-link{
        display: flex;
        align-items: center;
        height: 50px;
        background-color: #cccccc;
    }


    /* ここからカルーセル */
    .swiper-slide img{
        width: 100%;
    }

    .swiper-slide{
        margin-top: 10px;
        position: relative;
        left: 0%;
    }

    /* ここまでカルーセル */
    /* ここからお知らせ部分 */

    .news{
        font-size: 12px;
        height: 40px;
    }

    /* ここからconts */
    .conts-doc{
        display: none;
    }

    .conts{
        width: 100%;
        position: relative;
    }

    .new-conts{
        margin: 0 auto;
        width: 90%;
    }

    .new-conts-info{
        font-size: 14px;
        transform: translateY(10px);
        text-align: center;
        margin-top: 10px;
    }

    .new-conts-border-1{
        border-top: 3px solid #ec3223;
    }

    .new-conts-info-1,
    .new-conts-info-2{
        width: 100%;
        height: 60px;
    }

    .new-conts-info-1>h3{
        font-size: 14px;
        padding-top: 0px;
    }

    .new-conts-info-2>h3{
        font-size: 14px;
        padding-top: 20px;
    }

    .new-conts-info-1>p{
        margin-top: 5px;
        line-height: 15px;
        font-size: 12px;
        margin-bottom: 3px;
    }

    .new-conts-info-2>p{
        margin-top: 2vw;
        font-size: 12px;
    }

    .new-conts-border-2,
    .new-conts-border-3{
        border-top: 1px dashed #bbb;
    }

    .new-conts-img{
        position: absolute;
        top: 20%;
        right: 10%;
        width: 25%;
    }

    .conts-doc-res{
        display: block;
        width: 80%;
        margin: 10px auto;
    }

    .new-conts-img{
        position: relative;
        bottom: 0px;
        right: 0px;
        width: 0px;
    }

    /* ここまでconts */
    /* ここからthought */
    .thought{
        width: 100%;
        height: auto;
        background: url(../top/parts/background1.jpg);
        background-size: cover;
        background-position: center;
        padding-left: 2.5%;
        box-sizing: border-box;
        padding-bottom: 10px;
    }

    h1{
        font-size: 20px;
        padding-top: 7%;
    }

    h1>span{
        color: #ec3223;
    }

    .thought-content{
        width: 95%;
        font-size: 14px;
        line-height: 18px;
    }

    /* ここまでthought */
    /* ここからguide */
    .guide{
        width: 100%;
        display: block;
    }
    
    .guide a{
        width: 90%;
        margin-left: 5%;
    }
    
    .guide img{
        width: 90%;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    
    .lecture{
        margin-left: 0px;
    }
    
    .course{
        margin-right: 0px;
    }
    
    /* ここまでguide */
    /* ここからbottom */
    .bottom{
        width: 100%;
        display: block;
    }

    .bottom a{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 90%;
    }

    .bottom img{
        width: 90%;
        margin-top: 10px;
    }

    .bottom-1{
        margin-left: 5%;
        margin-top: 10px;
    }

    .bottom-2{
        margin-left: 5%;
    }

    .bottom-3{
        margin-left: 5%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    /* ここまでがbottom */

    .access p{
        font-size: 20px;
        margin-top: 10px;
    }

    /* ここからfooter */

    footer{
        width: 100%;
        background-color: #e6e6e6;
        text-align: center;
        margin-top: 10px;
    }

    footer ul{
        padding-top: 30px;
        display: block;
        margin-left: 15%;
        width: 70%;
        list-style: none;
    }

    footer ul li{
        margin-top: 15px;
    }

    .footer-img-1{
        margin-top: 10px;
        width: 30%;
    }

    footer p{
        padding-top: 14px;
        line-height: 19px;
        font-size: 14px;
    }

    .footer-last{
        margin-top: 15px;
        height: 40px;
        background-color: #4d4d4d;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer-last p{
        color: #ffffff;
        font-size: 11px;
    }
}
