html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* ここまでがリセットCSS */

/* ここからheader */

header{
    width: 100%;
}

.logo{
    width: 200px;
    height: 65px;
    margin-left: 3.25%;
    margin-top: 17px;
}

.tel{
    width: 295.64px;
    height: 66px;
    position: absolute;
    right: 4%;
    margin-top: 16.8px;
}

.header-bottom{
    margin-top: 5px;
    width: 100%;
    height: 70px;
    background-color: #333333;
    display: flex;
    align-items: center;
}

.header-menu{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 96%;
    margin-left: 2%;
}

.header-menu li{
    width: 15%;
    height: 50px;
}

.header-link{
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #ec3223;
    color: #ffffff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-link:hover{
    transform: scale(1.05);
}

/* ここまでがheader */

/* ここからcarousel */
.swiper-slide{
    margin-top: 10px;
    position: relative;
    left: 2.7%;
}

.swiper-slide img{
    width: 94.6%;
}

/* ここまでがcarousel */

/* ここからnews */
.news{
    display: flex;
    width: 100%;
    background-color: #333333;
    color: #ffffff;
    text-decoration: none;
    height: 70px;
    align-items: center;
    justify-content: center;
}

/* ここまでがnews */

/* ここからconts */
.conts{
    width: 100%;
    position: relative;
}

.new-conts{
    margin-left: 8%;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 50vw;
}

.new-conts-info{
    font-size: 2vw;
    transform: translateY(10px);
}

.new-conts-border-1{
    border-top: 3px solid #ec3223;
}

.new-conts-info-1,
.new-conts-info-2{
    width: 100%;
    height: 8vw;
}

.new-conts-info-1>h3{
    font-size: 1.5vw;
    padding-top: 5%;
}

.new-conts-info-2>h3{
    font-size: 1.5vw;
    padding-top: 6%;
}

.new-conts-info-1>p{
    margin-top: .5vw;
    line-height: 2vw;
    font-size: 1.2vw;
}

.new-conts-info-2>p{
    margin-top: 2vw;
    font-size: 1.2vw;
}

.new-conts-border-2,
.new-conts-border-3{
    border-top: 1px dashed #bbb;
}

.conts-doc{
    position: absolute;
    top: 20%;
    right: 10%;
    width: 25%;
}

/* ここまでconts */

/* ここからthought */
.thought{
    width: 100%;
    height: 45vw;
    background: url(../top/parts/background1.jpg);
    background-size: cover;
}

h1{
    font-family: "貂明朝";
    font-size: 2.4vw;
    padding-top: 7%;
    margin-left: 8%;
}

h1>span{
    color: #ec3223;
}

.thought-content{
    width: 84%;
    margin-left: 8%;
    font-size: 1.4vw;
    margin-top: 4vw;
    line-height: 1.8vw;
}

/* ここからthought */

/* ここからguide */
.guide{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.guide a{
    margin-top: 80px;
    margin-bottom: 80px;
    width: 37%;
}

.guide img{
    width: 100%;
}

.lecture{
    margin-left: 8%;
}

.course{
    margin-right: 8%;
}

/* ここまでguide */

/* ここからaccess */
.access{
    text-align: center;
}

.access p{
    font-size: 2.3vw;
}

.access hr{
    margin-left: 8%;
    width: 84%;
    border-top: 4px solid #ec3223;
}

/* ここまでがaccess */

/* ここからbottom */
.bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.bottom a{
    margin-top: 70px;
    margin-bottom: 70px;
    width: 27%;
}

.bottom img{
    width: 100%;
}

.bottom-1{
    margin-left: 6.3%;
}

.bottom-3{
    margin-right: 6.3%;
}

/* ここまでがbottom */

/* ここからfooter */

footer{
    width: 100%;
    background-color: #e6e6e6;
    text-align: center;
}

footer ul{
    padding-top: 60px;
    display: flex;
    margin-left: 15%;
    width: 70%;
    justify-content: space-between;
    list-style: none;
}

footer ul li a{
    text-decoration: none;
    color: #4d4d4d;
}

footer hr{
    width: 80%;
    padding-top: 20px;
    margin-left: 10%;
    border-top: 4px solid #ec3223;
}

.footer-img-1{
    margin-top: 20px;
    width: 12%;
}

footer p{
    padding-top: 14px;
    line-height: 1.7vw;
    font-size: 1.3vw;
}

.footer-last{
    margin-top: 15px;
    height: 40px;
    background-color: #4d4d4d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-last p{
    color: #ffffff;
    font-size: 1.2vw;
}



/* ここからfadein */

.fadein {
    opacity : 0;
    transform : translate(0, 60px);
    transition : all 1s;
  }
   
  .fadein.active{
    opacity : 1;
    transform : translate(0, 0);
  }

